<link rel="stylesheet" href="../css/dashboard.style.css">
{{> alerts}}

<div class="container">

  <!-- HEADER -->
  <div class="header">
    <div>
      <div class="label">Control Panel</div>
      <h1>Admin Dashboard</h1>
    </div>

    <div class="actions">
      <a href="/api/create-service" class="btn-primary">+ New Service</a>
      <a href="/api/delete-service"><button class="btn-delete">DELETE SERVICE</button></a>
    </div>
  </div>

  <!-- STATS -->
  <div class="stats">
    <div class="stat">
      <span>Total Bookings</span>
      <strong>{{stats.total}}</strong>
    </div>

    <div class="stat">
      <span>Completed</span>
      <strong class="amber">{{stats.done}}</strong>
    </div>

    <div class="stat">
      <span>Confirmed</span>
      <strong class="green">{{stats.confirmed}}</strong>
    </div>

    <div class="stat">
      <span>Pending</span>
      <strong class="red">{{stats.pending}}</strong>
    </div>
  </div>

  <!-- TABLE -->
  <div class="table-card">

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Date</th>
            <th>Service Name</th>
            <th>Device</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>

        <tbody id="tableBody">
          {{#each bookings}}
          <form action="/api/bookings/status/{{this.id}}?_method=PATCH&email={{this.email}}" method="post">
            <tr>
              <td class="id">{{this.id}}</td>
              <td class="name">
                <div class="user">
                  <span>{{this.name}}</span>
                </div>
              </td>

              <td class="email">{{this.email}}</td>

              <td class="date">{{date}}</td>

              <td class="service-name">{{this.service_name}}</td>

              <td>
                <span class="device">
                  {{this.device_name}}
                </span>
              </td>

              <td>
                <span class="status {{this.status}}">
                  {{this.status}}
                </span>
              </td>

              <td class="actions">
                <button type="submit" class="btn-done"><i class="fa-regular fa-circle-check"></i></button>
              </td>
            </tr>
          </form>
          {{/each}}
        </tbody>
      </table>
    </div>

  </div>
</div>